@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

:root {
  --theme-color: #47d0bf
    /* --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255; */;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  width: 100%;
  height: 100vh;
  color: rgb(var(--foreground-rgb));
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
  background-image: url("/background.png");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}
::-webkit-scrollbar {
  display: none;
}

@layer components {
  .animate-deepblue {
    animation: gradient-bg 3s infinite;
    background: linear-gradient(35deg, #a3e1ef, #7bd3e5, #0a99b7);
    background-size: 200% 100%;
  }
}

@keyframes gradient-bg {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes swim {
  0% {
    transform: translateX(-60%) scaleX(1); /* 화면 왼쪽 밖 시작, 정방향 */
  }
  50% {
    transform: translateX(180%) scaleX(1); /* 화면 오른쪽 밖, 정방향 */
  }
  51% {
    transform: translateX(180%) scaleX(-1); /* 뒤집기 시작 */
  }
  100% {
    transform: translateX(-60%) scaleX(-1); /* 다시 화면 왼쪽 밖으로, 뒤집힌 방향 */
  }
}

@keyframes swim-2 {
  0% {
    transform: translateX(-10%) scaleX(1); /* 화면 왼쪽 밖 시작, 정방향 */
  }
  50% {
    transform: translateX(210%) scaleX(1); /* 화면 오른쪽 밖, 정방향 */
  }
  51% {
    transform: translateX(210%) scaleX(-1); /* 뒤집기 시작 */
  }
  100% {
    transform: translateX(-10%) scaleX(-1); /* 다시 화면 왼쪽 밖으로, 뒤집힌 방향 */
  }
}

@keyframes back-and-forth {
  0% {
    transform: translateX(-60%); /* 화면 왼쪽 밖 시작, 정방향 */
  }
  50% {
    transform: translateX(180%); /* 화면 오른쪽 밖, 정방향 */
  }
  51% {
    transform: translateX(180%); /* 뒤집기 시작 */
  }
  100% {
    transform: translateX(-60%); /* 다시 화면 왼쪽 밖으로, 뒤집힌 방향 */
  }
}

@keyframes back-and-forth-2 {
  0% {
    transform: translateX(-100%); /* 화면 왼쪽 밖 시작, 정방향 */
  }
  50% {
    transform: translateX(100%); /* 화면 오른쪽 밖, 정방향 */
  }
  51% {
    transform: translateX(100%); /* 뒤집기 시작 */
  }
  100% {
    transform: translateX(-100%); /* 다시 화면 왼쪽 밖으로, 뒤집힌 방향 */
  }
}

@keyframes flipping {
  0% {
    transform: scaleX(1); /* 화면 왼쪽 밖 시작, 정방향 */
  }
  50% {
    transform: scaleX(1); /* 화면 오른쪽 밖, 정방향 */
  }
  51% {
    transform: scaleX(-1); /* 뒤집기 시작 */
  }
  100% {
    transform: scaleX(-1); /* 다시 화면 왼쪽 밖으로, 뒤집힌 방향 */
  }
}

@keyframes flipping-2 {
  0% {
    transform: scaleX(1); /* 화면 왼쪽 밖 시작, 정방향 */
  }
  50% {
    transform: scaleX(1); /* 화면 오른쪽 밖, 정방향 */
  }
  51% {
    transform: scaleX(-1); /* 뒤집기 시작 */
  }
  100% {
    transform: scaleX(-1); /* 다시 화면 왼쪽 밖으로, 뒤집힌 방향 */
  }
}

@keyframes up-down {
  0% {
    transform: translateY(-3px); /* 시작 위치 */
  }
  50% {
    transform: translateY(3px); /* 위로 10px 이동 */
  }
  100% {
    transform: translateY(-3px); /* 다시 원래 위치 */
  }
}

/* 위아래로 움직이면서 비틀기도 하게 하라 */
.animate-up-down-skew {
  animation: up-down-skew 3s linear infinite; /* 2초 동안 위아래로 이동 및 비틀기 반복 */
}

.animate-up-down {
  animation: up-down 3s linear infinite; /* 2초 동안 위아래로 이동 반복 */
}

@keyframes up-down-skew {
  0% {
    transform: translateY(0) skew(0, 0); /* 시작 위치 */
  }
  50% {
    transform: translateY(-10px) skew(10deg); /* 위로 10px 이동 및 비틀기 */
  }
  100% {
    transform: translateY(0) skew(0, 0); /* 다시 원래 위치 */
  }
}

.animate-swim {
  animation: swim linear infinite; /* 15초 동안 양방향 이동 반복 */
}

.animate-error {
  animation: swim-2 30s linear infinite; /* 15초 동안 양방향 이동 반복 */
}

.animate-back-and-forth {
  animation: back-and-forth linear infinite; /* 15초 동안 양방향 이동 반복 */
}

.animate-back-and-forth-2 {
  animation: back-and-forth-2 30s linear infinite; /* 15초 동안 양방향 이동 반복 */
}

.animate-flipping {
  animation: flipping linear infinite; /* 15초 동안 양방향 이동 반복 */
}

.animate-flipping-2 {
  animation: flipping-2 30s linear infinite; /* 15초 동안 양방향 이동 반복 */
}

@keyframes bubble {
  0% {
    transform: translateY(0) scale(0.1); /* 물고기 근처에서 시작 */
    opacity: 0; /* 시작 시 반투명 */
  }
  50% {
    opacity: 1; /* 중간에서 선명해짐 */
  }
  100% {
    transform: translateY(-100px) scale(0.3); /* 위로 떠오르며 커짐 */
    opacity: 0; /* 사라짐 */
  }
}

.bubble {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 50%;
  animation-name: bubble;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

.quoDropShadow {
  filter: drop-shadow(0 0 10px #47d0bf55);
}

/* .SelectTrigger {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  padding: 0 15px;
  font-size: 10px;
  line-height: 1;
  height: 35px;
  gap: 5px;
  background-color: white;
  color: var(--violet-11);
  box-shadow: 0 2px 10px var(--black-a7);
}
.SelectTrigger:hover {
  background-color: var(--mauve-3);
}
.SelectTrigger:focus {
  box-shadow: 0 0 0 2px black;
}
.SelectTrigger[data-placeholder] {
  color: var(--violet-9);
}

.SelectIcon {
  color: Var(--violet-11);
}

.SelectContent {
  overflow: hidden;
  background-color: white;
  border-radius: 6px;
  box-shadow:
    0px 10px 38px -10px rgba(22, 23, 24, 0.35),
    0px 10px 20px -15px rgba(22, 23, 24, 0.2);
}

.SelectViewport {
  padding: 5px;
}

.SelectItem {
  font-size: 13px;
  line-height: 1;
  color: var(--violet-11);
  border-radius: 3px;
  display: flex;
  align-items: center;
  height: 25px;
  padding: 0 35px 0 25px;
  position: relative;
  user-select: none;
}
.SelectItem[data-disabled] {
  color: var(--mauve-8);
  pointer-events: none;
}
.SelectItem[data-highlighted] {
  outline: none;
  background-color: var(--violet-9);
  color: var(--violet-1);
}

.SelectLabel {
  padding: 0 25px;
  font-size: 12px;
  line-height: 25px;
  color: var(--mauve-11);
}

.SelectSeparator {
  height: 1px;
  background-color: var(--violet-6);
  margin: 5px;
}

.SelectItemIndicator {
  position: absolute;
  left: 0;
  width: 25px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.SelectScrollButton {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25px;
  background-color: white;
  color: var(--violet-11);
  cursor: default;
} */

.qua-span {
  font-size: 0.745rem !important;
}
